---
import { Image } from "astro:assets";
import { type CollectionEntry, getCollection } from "astro:content";

import Aside from "@/components/Aside.astro";
import VfConversationsCount from "@/components/VfConversationsCount.astro";
import VfShareBar from "@/components/VfShareBar.astro";
import Layout from "@/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map(post => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <meta slot="head" name="vf:container_id" content={post.data.vfContainerId.toString()} />
  <meta slot="head" property="vf:author" content="viafoura-id:6157500021214" />
  <meta slot="head" property="vf:author" content="viafoura-id:8892700021086" />
  <meta slot="head" property="vf:author" content="viafoura-id:1472900021555" />
  <meta slot="head" property="vf:author" content="viafoura-id:9063500021199" />
  <div class="flex">
    <article class="relative min-w-0">
      <h1 class="mb-2 mt-3 text-center lg:text-left">
        {post.data.title}
      </h1>
      <div class="my-7">
        <div class="flex items-center gap-3">
          <Image
            class="aspect-square h-12 w-12 rounded-full"
            src={post.data.author.avatar}
            alt={post.data.author.name}
            width={200}
            height={200}
            format="avif"
            loading="eager"
          />
          <div class="ml-[1px] font-semibold">{post.data.author.name}</div>
          <div class="viafoura">
            <vf-topic-follow
              topic-id={post.data.author.id}
              topic-name={post.data.author.name}
              topic-type="author"
              show-count="false"
              minimum-count="5"></vf-topic-follow>
          </div>
        </div>
        <div class="mt-2 flex items-center">
          <time
            class="mt-[1px] text-sm font-semibold text-gray-500"
            datetime={post.data.pubDate.toISOString().split("T")[0]}
            >{
              post.data.pubDate.toLocaleDateString("en-US", {
                year: "numeric",
                month: "long",
                day: "numeric",
                timeZone: "UTC",
              })
            }</time
          >
          {
            post.body.includes("vf-conversations") && (
              <VfConversationsCount vfContainerId={post.data.vfContainerId} />
            )
          }
        </div>
      </div>
      <Image
        class="mb-7 aspect-video w-full rounded-md object-cover shadow-lg"
        src={post.data.image}
        alt={post.data.title}
        width={780}
        height={439}
        widths={[512, 780]}
        sizes={"100vw, (min-width: 512px) 780px"}
        format="avif"
        loading="eager"
      />
      <VfShareBar />
      <div class="prose-black prose max-w-4xl">
        <Content />
      </div>
    </article>
    <Aside />
  </div>
</Layout>
