---
import { Image } from "astro:assets";
import { type CollectionEntry, getCollection } from "astro:content";

import Aside from "@/components/Aside.astro";
import VfConversationsCount from "@/components/VfConversationsCount.astro";
import VfShareBar from "@/components/VfShareBar.astro";
import MainLayout from "@/layouts/MainLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<MainLayout title={post.data.title}>
  <meta slot="head" name="vf:container_id" content={post.data.vfContainerId.toString()} />
  <meta slot="head" property="vf:author" content="viafoura-id:6157500021214" />
  <meta slot="head" property="vf:author" content="viafoura-id:8892700021086" />
  <meta slot="head" property="vf:author" content="viafoura-id:1472900021555" />
  <meta slot="head" property="vf:author" content="viafoura-id:9063500021199" />
  <div class="flex">
    <article class="relative min-w-0">
      <div>
        <span class="mr-4 text-sm uppercase text-gray-600 dark:text-gray-300">Media</span><span
          class="mr-4 text-sm uppercase text-gray-600 dark:text-gray-300">News</span
        >
      </div>
      <h1 class="mb-2 mt-3 text-center lg:text-left">
        {post.data.title}
      </h1>
      <div class="my-5 sm:flex">
        <div class="flex items-center space-x-3">
          <Image
            class="h-12 w-12 rounded-full"
            src={post.data.author.avatar}
            alt={post.data.author.name}
            loading="eager"
            width="200"
          />
          <div class="ml-[1px] font-semibold">{post.data.author.name}</div>
          <div class="viafoura">
            <vf-topic-follow
              topic-id="60055331"
              topic-name={post.data.author.name}
              topic-type="author"
              show-count="true"
              minimum-count="5"></vf-topic-follow>
          </div>
        </div>
        <div class="flex items-center sm:pl-4">
          <div class="mr-3 border-b-neutral-300 dark:border-neutral-600 sm:border-l sm:pl-3">
            <time datetime="2024-08-08"
              >{
                post.data.pubDate.toLocaleDateString("en-US", {
                  year: "numeric",
                  month: "long",
                  day: "numeric",
                })
              }</time
            >
          </div>
          <div
            class="flex border-l border-b-neutral-300 pl-3 font-semibold text-gray-800 dark:border-neutral-600"
          >
            <VfConversationsCount vfContainerId={post.data.vfContainerId} />
          </div>
        </div>
      </div>
      <Image
        class="aspect-video w-full rounded-md object-cover shadow-lg"
        src={post.data.image}
        alt={post.data.title}
        loading="eager"
        width="780"
      />
      <VfShareBar />
      <div class="prose-black prose mt-5 max-w-4xl">
        <Content />
      </div>
    </article>
    <Aside />
  </div>
</MainLayout>
