---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import VfConversationsCount from "@/components/VfConversationsCount.astro";
import Layout from "@/Layout.astro";

const posts = await getCollection("blog");
const heroSlug = "how-media-companies-handle-covid-19-information-overload";
const postHero = posts.find(post => post.slug === heroSlug);
const postList = posts.filter(post => post.slug !== heroSlug);
---

<Layout title="Viafoura Demo">
  {
    postHero && (
      <article>
        <a href={`posts/${postHero.slug}`}>
          <Image
            class="mb-6 mt-8 aspect-video w-full rounded-md object-cover shadow-2xl"
            src={postHero.data.image}
            alt={postHero.data.title}
            width={1112}
            height={626}
            widths={[512, 1112]}
            sizes={"100vw, (min-width: 512px) 1112px"}
            format="avif"
            loading="eager"
          />
        </a>
        <div class="grid gap-x-6 sm:grid-cols-2">
          <h1>
            <a href={`posts/${postHero.slug}`} class="hover:underline">
              {postHero.data.title}
            </a>
          </h1>
          <div>
            <p class="mb-4 mt-4 text-base text-gray-700 antialiased sm:mt-0">
              {postHero.data.excerpt}
            </p>
            <div class="w-50 flex text-base font-semibold text-gray-800">
              {postHero.data.author.name}
              {postHero.body.includes("vf-conversations") && (
                <VfConversationsCount
                  slug={postHero.slug}
                  vfContainerId={postHero.data.vfContainerId}
                />
              )}
            </div>
          </div>
        </div>
      </article>
    )
  }
  <section class="pb-6 pt-11">
    <h2 class="mb-6 flex items-center">More Stories</h2>
    <div class="grid gap-x-16 gap-y-10 sm:grid-cols-2">
      {
        postList.map(({ slug, data, body }) => (
          <article>
            <a href={`/posts/${slug}`}>
              <Image
                class="mb-5 aspect-video w-full rounded-md object-cover shadow-2xl"
                src={data.image}
                alt={data.title}
                width={524}
                height={295}
                widths={[512, 640]}
                sizes={"100vw, (min-width: 512px) 640px"}
                format="avif"
              />
            </a>
            <h3 class="mb-3">
              <a href={`/posts/${slug}`} class="hover:underline">
                {data.title}
              </a>
            </h3>
            <p class="mb-4 text-base text-gray-700 antialiased">{data.excerpt}</p>
            <div class="w-50">
              <div class="flex text-base font-semibold text-gray-800">
                {data.author.name}
                {body.includes("vf-conversations") && (
                  <VfConversationsCount vfContainerId={data.vfContainerId} slug={slug} />
                )}
              </div>
            </div>
          </article>
        ))
      }
    </div>
  </section>
</Layout>
