---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  postList: CollectionEntry<"blog">[] | [];
}

const { postList } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>("/src/images/*");
---

<section class="pb-6 pt-11">
  <h2 class="mb-6 flex items-center">More Stories</h2>
  <div class="grid gap-x-16 gap-y-10 sm:grid-cols-2">
    {
      postList.map((post) => (
        <article>
          <a href={`/posts/${post.slug}`}>
            <Image
              class="mb-5 aspect-video w-full object-cover shadow-xl"
              src={images[post.data.image]()}
              alt={post.data.title}
              loading={"lazy"}
              format="avif"
              widths={[335, 600]}
              sizes={"(max-width: 360px) 335px, 600px"}
            />
          </a>
          <h3 class="mb-3">
            <a href={`/posts/${post.slug}`} class="hover:underline">
              {post.data.title}
            </a>
          </h3>
          <p class="mb-4 text-base text-gray-700 antialiased">{post.data.excerpt}</p>
          <div class="w-50">
            <div class="flex text-base font-semibold text-gray-800">{post.data.author}</div>
          </div>
        </article>
      ))
    }
  </div>
</section>
