---
import type { CollectionEntry } from "astro:content";

interface Props {
  postHero: CollectionEntry<"blog"> | undefined;
}

const { postHero } = Astro.props;
---

<article>
  <a href={`posts/${postHero?.slug}`}>
    <img
      class="mb-6 mt-8 aspect-video w-full object-cover shadow-xl"
      src=`src/assets/images/${postHero?.data.image}.webp`
      alt={postHero?.data.image}
    />
  </a>
  <div class="grid gap-x-6 sm:grid-cols-2">
    <h1>
      <a href={`post/${postHero?.slug}`} class="hover:underline">{postHero?.data.title}</a>
    </h1>
    <div>
      <p class="mb-4 mt-4 text-base text-gray-700 antialiased sm:mt-0">
        {postHero?.data.excerpt}
      </p>
      <div class="w-50 flex text-base font-semibold text-gray-800">
        {postHero?.data.author}
      </div>
    </div>
  </div>
</article>
