---
import "@/styles/globals.css";
import "@fontsource-variable/inter";

import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import TopicsNav from "@/components/TopicsNav.astro";

interface Props {
  title: string;
  vfContainerId?: string;
}

const { title, vfContainerId } = Astro.props;
const site = {
  name: "Viafoura Demo",
  description: "Viafoura Demo Site to showcase best practices for all of our community tools",
};
---

<script>
  import "@twicpics/components/style.css";

  import { installTwicpics } from "@twicpics/components/react";
  installTwicpics({
    domain: "https://viafoura-demo.twic.pics",
  });
</script>

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <meta name="description" content={site.description} />
    <meta name="vf:domain" content="demo.viafoura.com" />
    {vfContainerId && <meta name="vf:container_id" content={vfContainerId} />}
    <meta property="og:url" content="https://demo.viafoura.com/" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={site.description} />
    <meta property="og:image" content="/src/images/viafoura-demo.webp" />
    <meta property="og:image:alt" content={site.name} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content={site.name} />
    <title>{title}</title>
    <link rel="shortcut icon" href="/src/images/favicon.ico" type="image/x-icon" />
    <script src="/scripts/darkMode.js" is:inline></script>
  </head>
  <body>
    <Header />
    <TopicsNav />
    <main class="container mx-auto mt-7 min-h-[calc(100vh-310px)] max-w-6xl px-5">
      <slot />
    </main>
    <Footer />
    <script async src="//cdn.viafoura.net/entry/index.js" is:inline></script>
  </body>
</html>
